.bg-layout-doctor {

    background-image: url('../public/brushed-alum-dark.png');

}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    position: absolute;
    bottom: 10%;
    left: 129%;
    /* transform: translateX(-50%); */
    background: black;
    color: white;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 4px;
    opacity: 0;
    transition: 0.3s;
    text-wrap-mode: nowrap;
}

.tooltip:hover .tooltip-text {
    opacity: 1;
}